// Font
$font: 'Raleway', sans-serif;

// Colors
$white: #fff;
$gray: rgb(153,153,153);
$yellow: rgb(253, 199, 49);
$yellowBtn: rgb(184, 139, 17);
$bgColor: rgb(37, 37, 37);
$navBgColor: rgb(25, 25, 25);
$grayText: rgba(252, 252, 252, 0.78);
$contentBtnHover: rgba(78, 74, 61, 0.781);
$contentBtnActive: rgba(134, 119, 67, 0.897);